@model IEnumerable<OuiFund.Domain.Model.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Questions</h2>
<script type="text/javascript">
    $("#questionId").addClass("active");
</script>
<p>
    @Html.ActionLink(" Ajouter", "CreateQuestion", null, new { @class = "fa fa-plus" })
</p>
<div>
    <div class="col-md-offset-2 col-md-2">
        @Html.ActionLink(" QCM", "Questions", new { type = "QCM_Question"}, new { @class = "btn btn-primary",@style = "background-color:green;background-image:none" })
        @*<input type="submit" value="QCM" class="btn btn-primary" style="background-color:green;background-image:none"/>*@
    </div>
    <div class="col-md-offset-2 col-md-2">
        @Html.ActionLink(" Notée", "Questions", new { type = "Noted_Question" }, new { @class = "btn btn-primary", @style = "background-color:blue;background-image:none" })
        @*<input type="submit" value="Notée" class="btn btn-primary" style="background-color:blue;background-image:none"/>*@
    </div>
    <div class="col-md-offset-2 col-md-2">
        @Html.ActionLink(" Redaction", "Questions", new { type = "Libre_Question" }, new { @class = "btn btn-primary", @style = "background-color:crimson;background-image:none" })
        @*<input type="submit" value="Redaction" class="btn btn-primary" style="background-color:crimson;background-image:none"/>*@
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th class="col-md-2" style="text-align: center;">
            @Html.DisplayNameFor(model => model.categorieQuestion.NomCategorie)
        </th>
        <th class="col-md-5" style="text-align: center;">
            @Html.DisplayNameFor(model => model.DescriptionQuest)
        </th>
        <th class="col-md-2" style="text-align: center;">
            @Html.DisplayNameFor(model => model.ReferenceQuest)
        </th>
        <th class="col-md-2" style="text-align: center;">
            @Html.DisplayNameFor(model => model.StatusQuest)
        </th>
        <th class="col-md-1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categorieQuestion.NomCategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionQuest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceQuest)
            </td>
            @if (item.StatusQuest == true)
            {
                <td style="text-align:center">
                    <h5 style="color:forestgreen">Activée</h5>
                </td>
            }
            else
            {
                <td style="text-align:center">
                    <h5 style="color:red">Désactivée</h5>
                </td>
            }
            @*<td style="text-align:center">                
                @Html.DisplayFor(modelItem => item.StatusQuest)
            </td>*@
            <td style="text-align: center;">
                @Html.ActionLink(" ", "ChangeStatus", new { QuestionId = item.QuestionID }, new { @class = "fa fa-wrench" }) |
                @Html.ActionLink(" ", "Edit", new { id = item.QuestionID }, new { @class = "fa fa-pencil" }) |
                @Html.ActionLink(" ", "DeleteQuestion", new { id = item.QuestionID }, new { @class = "fa fa-trash-o" })
            </td>
        </tr>
    }

</table>
